﻿body {

}

.txtbox {
    width: 300px;
    height:70px;
    z-index:101;
    left:56px;
    top:72px;
      font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#wrapper
{
	margin: 0 auto;
	background-repeat:repeat;
    border-right:1px solid #ccc;
	border-left:1px solid #ccc;

}
#header
{
	margin: 0 auto;
	background-color:#ccc;
	background-repeat:repeat;
}
.title_main
{
   background-image: url('Images/main_title_bkgrd.png'); background-repeat:repeat;
   text-align:center;
   font-family:Times New Roman; font-weight:bold; font-size:20px;
   color:Black;
}
.tdbox
{
    text-align: left;
    width: 19%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
}
.txtitem
{
     width:130px;
    height:20px;
}
.txtsmitem
{
    width:90px;
    height:17px;
    text-align: left;
}
.tdtit
{
    text-align:right;
    width:14%;
}
.ddlitem
{
    width:140px;
    height:20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.address {
     text-align: left;
    width: 120%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /*height: 36px;*/
}
.tdaddress {
     text-align: left;
    width: 130%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
}

.staddress {
     text-align: left;
    width: 88%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /*height: 36px;*/
}
.tdstaddress {
     text-align: left;
    width: 88%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
}

.txtsmllitem
{
    width:50px;
    height:17px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.ResEvenRowClr
{
    background-color:#DCDCDC;

}

.ResOddRowClr
{
    background-color:#FFF8DC;

}

.stylebutton 
{
    color: #226666;
}
