﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site2.Master" AutoEventWireup="true"
    CodeBehind="loginpage.aspx.cs" Inherits="ApplicationQuestionaireAdmin.loginpage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="main" runat="server">
        <br />
    <br />
    <br />
    <asp:Label ID="lblUserID" runat="server" Text="User ID:  "></asp:Label>
    <asp:TextBox ID="txtUserID" runat="server" CssClass="txtitem"></asp:TextBox>
    <br />
    <br />
    <asp:Button ID="btnLogin" runat="server" Text="Login" OnClick="btnLogin_Click" />
    <br />
    <br />
    <asp:Label ID="lblMsg" runat="server" CssClass="txtitem" ForeColor="#CC0000"></asp:Label>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</asp:Content>
