﻿body {

}

.txtbox {
    width: 300px;
    height:70px;
    z-index:101;
    left:56px;
    top:72px;
      /*font-size: large;*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#wrapper
{
	margin: 0 auto;
	background-repeat:repeat;
    border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
#header
{
	margin: 0 auto;
	background-color:#ccc;
	background-repeat:repeat;
}

#footer {      
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:#999966;
  text-align: center;
    font-size: small; 
    text-align: center; 
}
.title_main
{
   background-image: url('Images/main_title_bkgrd.png'); 
   background-repeat:repeat;
   text-align:center;
   /*float:inherit;*/
   font-family:Times New Roman; font-weight:bold; font-size:20px;
   color:Black;
   background-position:bottom;
   vertical-align:text-bottom;
}
.tdbox
{
    text-align: left;
    width: 19%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
}
.txtitem
{
     width:130px;
    height:17px;
    font-family: Arial, Helvetica, sans-serif;
}
.txtsmitem
{
    width:90px;
    height:30px;
    text-align: left;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.tdtit
{
    text-align:right;
    width:50%;
    font-family: Arial, Helvetica, sans-serif;
}
.ddlitem
{
    width:140px;
    height:20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.address {
     text-align: left;
    width: 120%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /*height: 36px;*/
}
.tdaddress {
     text-align: left;
    width: 130%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
}

.staddress {
     text-align: left;
    width: 88%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /*height: 36px;*/
}
.tdstaddress {
     text-align: left;
    width: 88%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
}

.txtsmllitem
{
    width:50px;
    height:17px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}
  @import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */


.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

  .modalBackground
    {
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
    }
    .modalPopup
    {
        background-color: #FFFFFF;
        width: 300px;
        border: 3px solid #0DA9D0;
        border-radius: 12px;
        padding:0
      
    }
    .modalPopup .header
    {
        background-color: #2FBDF1;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .modalPopup .body
    {
        min-height: 50px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .modalPopup .footer
    {
        padding: 6px;
    }
    .modalPopup .yes, .modalPopup .no
    {
        height: 23px;
        color: White;
        line-height: 23px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        border-radius: 4px;
    }
    .modalPopup .yes
    {
        background-color: #2FBDF1;
        border: 1px solid #0DA9D0;
    }
    .modalPopup .no
    {
        background-color: #9F9F9F;
        border: 1px solid #5C5C5C;
    }