﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site2.master.cs" Inherits="Application_Questionaire.Site2" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="StyleSheet1.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <%-- <asp:TreeView ID="TreeView1" runat="server" DataSourceID="SiteMapDataSource1" ExpandDepth="5" MaxDataBindDepth="10" ShowLines="True" ShowExpandCollapse="False">
        <DataBindings>
            <asp:TreeNodeBinding DataMember="SiteMapNode" NavigateUrl="~/Residences.aspx" Text="Information" Value="Information" />
            <asp:TreeNodeBinding DataMember="SiteMapNode" NavigateUrl="~/Applicant.aspx" Text="Short Question" Value="Short Question" />
        </DataBindings>
            </asp:TreeView>--%>
   <%-- <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" StartingNodeUrl="~/Residences.aspx" ShowStartingNode="False" StartFromCurrentNode="True" />--%>
    <%--    <asp:SiteMapPath ID="SiteMapPath1" runat="server"></asp:SiteMapPath>--%>
    <%--<asp:Menu ID="Menu1" runat="server"></asp:Menu>--%>
    <form id="form1" runat="server">
        <div>
            <div id="wrapper">
                <div id="header">
                    <asp:Image ID="ibanner" ImageUrl="~/images/twrahome.png" runat="server" Width="100%" /><br />
                    <div class="title_main">
                        <br />
                        Wildlife Officer Applicant Questionaire
                    </div>
                </div>
                <asp:ContentPlaceHolder ID="main" runat="server">
                </asp:ContentPlaceHolder>
                <div style="font-size: small; text-align: center; background-color: #999966;">
                    <asp:Image ID="TWRALogo" runat="server" ImageUrl="~/images/twra_c_clip.png" ImageAlign="left"
                        Height="70px" />
                    <div style="height: 40px; float: right;">
                        <script language="javascript" src="https://seal.entrust.net/seal.js?domain=TWRA.State.TN.US&img=7"></script>
                        <a href="http://www.entrust.net">SSL</a>
                        <script language="javascript" type="text/javascript">                    goEntrust();</script>
                    </div>
                    <asp:HyperLink ID="PrivecyHyperLink" runat="server" NavigateUrl="http://www.tn.gov/web-policies/privacy.shtml"
                        Target="_blank">Privacy Statement</asp:HyperLink>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <%-- <asp:HyperLink ID="CoppaHL" runat="server" NavigateUrl="http://www.tn.gov/web-policies/coppa.shtml"
                Target="_blank">Child Online Privacy Protection Act (COPPA)</asp:HyperLink>--%>
                    <%--  <br />
            For General Information Contact: Betsy Woods (615) 781-6601 &nbsp;&nbsp;&nbsp;
            <asp:HyperLink ID="GIEmail" runat="server" NavigateUrl="mailto:Betsy.Woods@tn.gov">Betsy.Woods@tn.gov</asp:HyperLink>
            <br />
            For Technical Assistance Contact: TWRA HelpDesk (615) 781-6648 &nbsp;&nbsp;&nbsp;
            <asp:HyperLink ID="TSEmail" runat="server" NavigateUrl="mailto:TWRA_Helpdesk@tn.gov">TWRA_Helpdesk@tn.gov</asp:HyperLink>
            <br />--%>
            Monday - Friday (8:00am - 4:30pm) Central Time
            <br />
                    <br />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
